* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bottom-border: 8px solid darkgray;
    --section-height-min: 70vh;
    --section-height: 100%;
}

html {
    background-color: black;
}

/* Inizio Federico */

.container_2 {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-bottom: var(--bottom-border)
    /* flex-shrink: 1;
    flex-basis: 600px; */
}

.flexbox_2 {
    /* border: 3px solid black; */
    min-height: var(--section-height-min);
    height: var(--section-height);
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: center; */

}


/* Parte sinistra */


.left_2 {
    /* border: 3px solid orange; */
    display: flex;
    width: 50%;
    max-height: 100%;
    justify-content: center;
    align-items: center;
}

.left_2 .telefono_2 {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-shrink: 1;

}

.telefono_2 > img {
    height: 80%;
    width: 80%;

}

.box_2 {
    border: 3px solid lightgray;
    border-radius: 20px;
    background-color: black;
    display: flex;
    width: 25%;
    height: 15%;
    position: absolute;
    bottom: 40%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box_2 .img_2 {
    flex-grow: 0;
    flex-shrink: 0;
    width: auto;
    height: 4em;
    margin-left: 10px;

}

.box_2 span {
    flex-grow: 1;
    flex-shrink: 0;
    
}

.box_2 .gif_2 {
    flex-grow: 0;
    flex-shrink: 0;
    width: 4em;
    height: 4em;
    
}

/* .box_2::after {
    content: url(assets/download_2.gif);
} */



/* Parte destra */


.right_2 {
    /* border: 3px solid violet; */
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.righttesto_2 {
    /* border: 3px solid orange; */
    max-width: 70%;
    max-height: 90%;
    font-size: 1.5rem;
}

.righttesto_2 h2 {
    padding-bottom: 30px;
}

/* Fine Federico */
