* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bottom-border: 8px solid darkgray;
    --section-height-min: 70vh;
    --section-height: 100%;
}

html {
    background-color: black;
}

.section_5 {   
margin-top: 50px;
 
}

.faq_5 {
   display: flex;
   flex-flow: column;
   align-items: center;

   }

.faq_5 h1 {
    font-size: 45px;
    padding-bottom: 30px;
    
}

.questions_5 {
 display: flex;
 flex-flow: column;
 align-items: flex-start;

 
    
}

.footer_05{
    margin: 50px 0 0 100px;
}

.questions_5 li {
    padding: 20px ;
    margin: 10px;
    font-size: 20px;
    list-style-type: none;
    background-color: rgb(43, 43, 43);
    width: 700px;
    
}