* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --bottom-border: 8px solid darkgray;
    --section-height-min: 70vh;
    --section-height: 100%;
}

html {
    background-color: black;
}

/* Inizio Federico */

.flexbox_2 {
    /* border: 3px solid white; */
    min-height: var(--section-height-min);
    height: var(--section-height);
    display: flex;
    border-bottom: var(--bottom-border)
}


/* Parte sinistra */


.left_2 {
    /* border: 3px solid orange; */
    display: flex;
    width: 50%;
    max-height: 100%;
    justify-content: center;
    align-items: center;
}

.left_2 .telefono_2 {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-shrink: 1;

}

.telefono_2 > img {
    height: 80%;
    width: 80%;

}

.box_2 {
    border: 1px solid rgb(122, 122, 122);
    border-radius: 10px;
    background-color: black;
    display: flex;
    /* width: 25%; */
    /* height: 15%; */
    position: absolute;
    bottom: 40%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-shrink: 0;
    width: fit-content;
    height: max-content;
}

.box_2 .img_2 {
    flex-grow: 0;
    flex-shrink: 0;
    width: auto;
    height: 4em;
    margin-left: 10px;
    margin: 10px;

}

.box_2 .gif_2 {
    flex-shrink: 0;
    width: 4em;
    height: 4em;
    margin: 10px;
    margin-left: 80px;
    
}


/* Parte destra */


.right_2 {
    /* border: 3px solid violet; */
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.righttesto_2 {
    /* border: 3px solid orange; */
    max-width: 70%;
    max-height: 90%;
    font-size: 1.5rem;
}

.righttesto_2 h2 {
    padding-bottom: 30px;
}


@media all and (max-width:950px) {

    .flexbox_2{
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .right_2 {
        order: 1;
        text-align: center;
        width: 100%;
        height: 50%;
    }

    .righttesto_2 {
        height: 100%;
        width: 100%;
    }

    .left_2 {
        order: 2;
        width: 100%;
        height: 50%;
    }

    .box_2 {
        position: absolute;
        top: 470px;
        width: fit-content;
        height: max-content;
    }

    .telefono_2 {
        flex-basis: content;
        flex-shrink: 0;
    }

}

/* Fine Federico */