* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

:root {
    --bottom-border: 8px solid darkgray;
    --section-height-min: 70vh;
    --section-height: 100%;
}

.flex-container_1 {

    min-height: var(--section-height-min);
    height: var(--section-height);
}

.first-block_1 {
    font-size: 40px;
    margin-left: 100px;
    margin-right: 150px;
    flex: 1;
}

.first-block_1 p {
    font-size: 26px;
    padding-top: 15px;

}

.flex-container_1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--bottom-border);
}

.second-block_1 {
    display: block;
    margin-right: 200px;
    flex: 1;
    margin-bottom: 75px;
}







@media screen and (max-width:780px) {
    .flex-container_1 {
        display: flex;
        flex-flow: column nowrap;
        padding-top: 200px;
    }

    h1 {
        font-size: 26px;
        text-align: center;
    }

    p {
        font-size: 18px;
        text-align: center;
    }
}